__pycache__/
*.py[cod]
*$py.class

# Output files & Uploads
outputs/*.mp3
outputs/*.wav
outputs/*.srt
uploads/temp_*
models/extracted_voices/*.wav
!models/extracted_voices/.gitkeep
!models/.gitkeep

# Environment
.env
venv/
env/
.venv/
